<% @pics.each do |pic| %>
  <div class="box">
    <a href=<%= pic.link %>>
      <img src="<%= pic.images.standard_resolution.url %>" />
    </a><br />
    <div class="attribution">Shot by <%= pic.user.full_name %> (aka <a href='http://instagram.com/<%= pic.user.username %>'><%= pic.user.username %></a>)</div>
    <div class="tweet">
      <% begin %> 
        <%= @client.user_timeline(pic.user.username).map(&:text).sample %>
      <% rescue %>
        <%= "" %>
      <% end %>
    </div>
  </div>
<% end %>